.feature_input{
    margin-bottom: 8px;
}
.dyna_input {
    position: relative;
}
span.del_icon {
    position: absolute;
    right: 14px;
    z-index: 1;
    top: 7px;
    color: red;
    cursor: pointer;
}
.descriptions p{
    margin: 0px;
}
.call_type{
    background-color: #8bc34a;
    color: #fff;
    padding: 3px;
    border-radius: 2px;
    margin-right: 3px;
}
.call_type.incoming{
    background-color: #2196f3;
}
.call_type.outgoing{
    background-color: #8bc34a;
}
.call_type.missed{
    background-color: #f44336;
}
.service_view {
    padding: 20px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    background: #fff;
    margin-bottom: 20px;
}
.service_img img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    object-position: left;
}
.service_qty .qty {
    float: left;
    width: auto;
    margin-left: 20px;
}
.service_view .price {
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 12px 0px;
    float: left;
}
.service_view .price span.old {
    color: #232323;
    text-decoration: line-through;
}
.service_view .price span.new {
    font-weight: 700;
    margin-left: 10px;
}
div#crop-avatar {
    width: 100%;
    height: 305px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
}
div#crop-avatar .avatar-view{
    height: 100%;
    margin: auto;
    width: auto;
    object-fit: contain;
}
.tile_count .tile_stats_count:before{
    border: none;
}
.tile_count .tile_stats_count {
    border: 1px solid #ddd;
    text-align: center;
    padding-top: 10px;
}
.hws_table_responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.hws_select {
    cursor: pointer;
    border-radius: 4px;
}
.pagi_row {
    display: table;
    width: 100%;
    margin: 5px 0px;
}
.page_counts {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
.vehi_pagination {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.ajax-loader {
    position: fixed;
    background: #7d7d7d3d;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9998;
    float: left;
    width: 100%;
}
.loader_html {
    display: none;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading {
    position: absolute;
    border-left: 2px solid #ffffff;
    border-top: 2px solid rgb(50, 122, 182);
    border-right: 2px solid rgba(50, 122, 182, 0.97);
    border-bottom: 2px solid rgb(50, 122, 182);
    height: 46px;
    width: 46px;
    left: 50%;
    top: 50%;
    margin: -23px 0 0 -23px;
    text-indent: -9999em;
    font-size: 10px;
    z-index: 9999;
    -webkit-animation: load 0.8s infinite linear;
    -moz-animation: load 0.8s infinite linear;
    ms-animation: load 0.8s infinite linear;
    o-animation: load 0.8s infinite linear;
    animation: load 0.8s infinite linear;
}
.loading, .loading:after {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.hws_label_btn.cancelled,.hws_label_btn.failed {
    background: #E91E63;
    border-color: #E91E63;
}
.hws_label_btn.accepted {
    background: #FF9800;
    border-color: #FF9800;
}
.hws_label_btn.inprogress {
    background: #3f51b5;
    border-color: #3f51b5;
}
.hws_label_btn {
    text-transform: capitalize;
    margin: 0px;
}
img.service_img {
    max-width: 100%;
    width: 200px;
    height: 60px;
    object-fit: cover;
    object-position: left;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    vertical-align: middle;
}
ul.pagination {
    margin: 0px;
}
.sub_title{
    float: left;
    margin: 0px;
}
.side_img{
    width: 100%;
    height: 225px;
    object-fit: contain;
}
.border_space{
    margin: 0px;
    border-bottom: 1px solid #E6E9ED;
    padding: 10px 0px;
}
.sec_head{
    margin: 0px;
    background: #405467;
    color: #fff;
}
.sec_head .sec_title{
    font-size: 17px;
}